API_URL=https://ecosistema-centro.ddev.site/api
# API_URL=https://pruebas-arzsuite.centrolibanes.org.mx/api
# API_URL=https://arzsuite.centrolibanes.org.mx/api
# API_URL=https://back-centro-libanes.aigel.com.mx/api
