.custom-card {
  border-radius: 12px;
  transition: all 0.3s ease;
  background-color: #ffffff;
}

.custom-card.hover-shadow:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.05) !important;
  transform: translateY(-2px);
  border-color: var(--bs-primary) !important;
}

.custom-card.disabled-card {
  opacity: 0.7;
  background-color: #f8f9fa;
  cursor: not-allowed;
}

.icon-wrapper {
  width: 48px;
  height: 48px;
  background-color: #fcf8e3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  i {
    font-size: 1.5rem;
    color: #cca43b; /* Color similar al logo dorado */
  }
}

.cursor-pointer {
  cursor: pointer;
}